<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" href = "../Styles.css">
    <style>
        /*form {*/
        /*    text-align: center;*/
        /*    border-radius: 100px;*/
        /*    background-color: #f2f2f2;*/
        /*    padding: 50px;*/
        /*    padding-right: 50px;*/
        /*}*/
        input1 {background-color: orange}
        input1 {color: whitesmoke}
    </style>
</head>
<body>
<div class = "container">
    <div class = "navigationbar">
        <div class = "left-side">
            <div class = "image-brand"> <!-- LOGO-->
                <div> <img src="../img/DeftUp1.PNG" alt = "DeftUp" width="65" height="65"> </div>
            </div>
        </div>

        <div class = "right-side"> <!-- LINKS-->
            <div class = "link-navbar"> <a href = "/DeftUpPro">Home</a> </div>
            <div class = "link-navbar"> <a href = "/login"> Login </a>  </div>
            <div class = "link-navbar"> <a href = "/Register">Register</a> </div>
            <div class = "link-navbar"> <a href = "/workers"> Categories </a> </div>
            <div class = "link-navbar"> <a href = "/AboutUs"> About Us </a> </div>
            <div class = "link-navbar"> <a href = "/Help"> Help </a>  </div>
        </div>
    </div>
</div>
<br>
<%- body %>
<br>
<!--INSERT FOOTER CODE HERE-->
</body>
</html>