<style>
    h1 {text-align: center}
    body {
        font-family: 'Trebuchet MS', sans-serif;
    }
    img {
        border-radius: 50%;

    }
    h2{
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
    }
    h3 {
        font-size: 50px;
        text-align: center;
    }
    p{
        font-size: 15px;
        text-align: center;
        text-decoration: #8a8a8a;
    }
    .column h3 span {
        color: #fe5900;
    }
    .column {
        text-align: center;
        float: left;
        padding-left: 40px;
        padding-right: 40px;
        /*width: 33.33%;*/
        /*padding: 100px;*/
    }
    .about-text {
        text-align: center;
    }
    .about-text h1 {
        color: #020101;
        text-transform: uppercase;
        font-size: 60px;
    }

    .about-text h1 span {
        color: #fe5900;
    }

    .goalText{
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }

</style>
<title>About Us</title>
<div class="about-text">
<h1>
    About <span>Us</span></h1>
</div>

<div class = "goalText" >
    <h2> The goal of DeftUP is to provide people with assistance in
        certain jobs/tasks that they cannot get to or do not know how to accomplish.
        This includes tasks such as around-the-house yard work, mounting, furniture moving and assembly and so much more.
        DeftUP strives to create more jobs for 1-person businesses and provide the consumers
        that are hiring to get tasks done with more freedom to take care of other jobs/tasks that they have.
    </h2>
</div>

<div class="about-text">
    <h1>
        Meet <span>Our Team</span></h1>
</div>

<div class = "images">
    <div class = "column">
        <img src="./img/DeftUpCasey2.PNG" alt="Avatar" style = "width: 275px;
            height: 275px">
        <h3>Casey <span>Lindo</span></h3>
        <p>From: Charlotte, NC</p>
        <p>Education: North Carolina A&T State University</p>
        <p>Hobbies: Playing golf, travelling, and hanging with friends</p>
        <!--        <p>An ambitious and competitive person who loves to play games, travel, listen to music and play golf. </p>-->
        <!--             style="width:275px;-->
        <!--         height: 275px;-->

    </div>
    <div class = "column">
        <img src="./img/DeftUpTai.PNG" alt="Avatar" style = "width: 275px;
            height: 275px">
        <h3>Tai <span>Smith</span></h3>
        <p>From: Elizabeth City, NC</p>
        <p>Education: North Carolina A&T State University</p>
        <p>Hobbies: Listening to music, eating food and watching TV.</p>
        <!--        <p>A courageous and dedicated leader along with a lover of music, food, and TV!-->
        <!--            She wishes to broaden her peripheries of technology to be among the next generation of-->
        <!--            innovators who will mold the future with technological advances.</p>-->
        <!--             style="width:275px;-->
        <!--         height: 275px;-->
        <!--         padding-left: 110px;-->
        <!--        padding-right: 110px">-->
    </div>
    <div class = "column">
        <img src="./img/DeftUpJovan.jpg" alt="Avatar" style = "width: 275px;
            height: 275px">
        <h3>Jovan <span>Morgan</span></h3>
        <p>From: Winston-Salem, NC</p>
        <p>Education: North Carolina A&T State University</p>
        <p>Hobbies: Watching hockey, travelling and spending time with family.  </p>
        <!--             style="width:275px;-->
        <!--         height: 275px;-->
        <!--         padding-left: 110px;-->
        <!--        padding-right: 110px">-->
    </div>
</div>