<title>About Us</title>
<div class="about-text">
    <h1>
        About <span>Us</span></h1>
</div>


<div class = "goalText" >
    <h2> The goal of DeftUP is to provide people with assistance in
        certain jobs/tasks that they can’t get to or do not know how to accomplish.
        This includes tasks such as around-the-house yard work, mounting, furniture moving and assembly and so much more.
        DeftUP strives to create more jobs for 1-person businesses and provide the consumers
        that are hiring to get tasks done with more freedom to take care of other jobs/tasks that they have.
    </h2>
</div>