<h1>CATEGORIES</h1>
<div class = "content-wrapper">
     <div class = "portfolio-items-wrapper">
         <div class = "portfolio-item-wrapper">
             <div class = "portfolio-img-background">
                <a href="DeftUpPro.ejs" class = "btn" style="background-image: url(img/Bed2.jpg)"> </a> <!--THIS LINE IS WHERE THE BUTTON IS-->
             </div>
             <div class = "img-text-wrapper">
                 <div class = "logo-wrapper">
                     <h1 class = "category-title"> Bed Assembly </h1>
                 </div>
             </div>
         </div>

         <div class = "portfolio-item-wrapper">
             <div class = "portfolio-img-background">
                 <a href="DeftUpPro.ejs" class = "btn" style="background-image: url(img/Plumming.jpg)"> </a>
             </div>
             <div class = "img-text-wrapper">
                 <div class = "logo-wrapper">
                     <h1 class = "category-title"> Plumbing </h1>
                 </div>
             </div>
         </div>

         <div class = "portfolio-item-wrapper">
             <div class = "portfolio-img-background">
                 <a href="DeftUpPro.ejs" class = "btn" style="background-image: url(img/Electrical.jpg)"> </a>
             </div>
             <div class = "img-text-wrapper">
                 <div class = "logo-wrapper">
                     <h1 class = "category-title"> Electrical </h1>
                     <!--<img src = "img/Desk.jpg">-->
                 </div>
             </div>
         </div>

         <div class = "portfolio-item-wrapper">
             <div class = "portfolio-img-background">
                 <a href="DeftUpPro.ejs" class = "btn" style="background-image: url(img/Moving.jpg)"> </a>
             </div>
             <div class = "img-text-wrapper">
                 <div class = "logo-wrapper">
                     <h1 class = "category-title"> Moving </h1>
                     <!--<img src = "img/Mounting.jpg">-->
                 </div>
             </div>
         </div>

         <div class = "portfolio-item-wrapper">
             <div class = "portfolio-img-background">
                 <a href="DeftUpPro.ejs" class = "btn" style="background-image: url(img/Yardwork.jpg)"> </a>
             </div>
             <div class = "img-text-wrapper">
                 <div class = "logo-wrapper">
                     <h1 class = "category-title"> Yard-Work </h1>
                     <!--<img src = "img/Yardwork.jpg">-->
                 </div>
             </div>
         </div>

         <div class = "portfolio-item-wrapper">
             <div class = "portfolio-img-background">
                 <a href="DeftUpPro.ejs" class = "btn" style="background-image: url(img/Cleaning.png)"> </a>
             </div>
             <div class = "img-text-wrapper">
                 <div class = "logo-wrapper">
                     <h1 class = "category-title"> Cleaning </h1>
                     <!--<img src = "img/Cleaning.png">-->
                 </div>
             </div>
         </div>

         <div class = "portfolio-item-wrapper">
             <div class = "portfolio-img-background">
                 <a href="DeftUpPro.ejs" class = "btn" style="background-image: url(img/Painting2.jpeg)"> </a>
             </div>

             <div class = "img-text-wrapper">
                 <div class = "logo-wrapper">
                     <h1 class = "category-title"> Painting </h1>
                     <!--<img src = "img/Cleaning.png">-->
                 </div>
             </div>
         </div>

         <div class = "portfolio-item-wrapper">
             <div class = "portfolio-img-background">
                 <a href="DeftUpPro.ejs" class = "btn" style="background-image: url(img/Mounting3.jpg)"> </a>
             </div>
             <div class = "img-text-wrapper">
                 <div class = "logo-wrapper">
                     <h1 class = "category-title"> TV Mounting </h1>
                     <!--<img src = "img/Cleaning.png">-->
                 </div>
             </div>
         </div>

         <div class = "portfolio-item-wrapper">
             <div class = "portfolio-img-background">
                 <a href="DeftUpPro.ejs" class = "btn" style="background-image: url(img/Desk3.jpg)"> </a>
             </div>
             <div class = "img-text-wrapper">
                 <div class = "logo-wrapper">
                     <h1 class = "category-title"> Desk Assembly </h1>
                     <!--<img src = "img/Cleaning.png">-->
                 </div>
             </div>
         </div>
    </div>
</div>
<script>
    const portfolioItems = document.querySelectorAll('.portfolio-item-wrapper')
    portfolioItems.forEach(portfolioItem => {
        portfolioItem.addEventListener('mouseover', () =>{
            //console.log(portfolioItem.childNodes[1].classList);
            portfolioItem.childNodes[1].classList.add('img-darken');
        })
        portfolioItem.addEventListener('mouseout', () =>{
            //console.log(portfolioItem.childNodes[1].classList);
            portfolioItem.childNodes[1].classList.remove('img-darken');
        })
    })
</script>