<div class = "Home1">
    <div1 class="HomeDesc2">
        <h1 class = "head-title" style = "font-family: Calibri"> WELCOME TO DEFTUP </h1>

        <p class = para-title" style = "font-family: Calibri"> DeftUp provides people with assistance in certain jobs/tasks that
        they can't get to or do not know how to accomplish. This will include tasks
        like around-the-house yardwork, mounting, furniture assembly and much more. This website
        will create more jobs for 1-person businesses and provide the consumers that are hiring
        to get tasks done with more freedom and flexibility to take care of other jobs/tasks that they have.
        </p>

        <a href="/Register" class="button" style = "font-family: 'Arial Black'">GET STARTED</a>

    </div1>
    <div class="HomeImg2">
        <img src="./img/HandymanHome2.jpg" alt = "Handyman" width="500" height="300">
    </div>
</div>
