<title>Help Page</title>
<style>
    h1 {
        text-align: center
    }

    .container1 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .container {
        width: 85%;

        max-width: 80rem;

        margin: 0 auto;

        padding: 0 1.5rem;
    }

    .accordion-item {
        background-color: orange;
        border-radius: .4rem;
        margin-bottom: 1rem;
        padding: 1rem;
        box-shadow: .5rem 2px .5rem rgba(0, 0, 0, .1);

    }

    .accordion-link {
        font-size: 1.2rem;
        color: rgb(238, 238, 238);
        text-decoration: none;
        background-color: orange;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
    }

    .accordion-item:target .answer {
        max-height: 20rem;

    }

    .answer p {
        font-size: 1.6rem;
        color: rgb(255, 255, 255);
        padding: 2rem;
    }


    .accordion-link r {
        color: orange;
    }


    .answer {
        overflow: hidden;
        max-height: 0;
        position: relative;
        background-color: darkorange;
        transition: max-height 65ms;
    }

    .answer:before {
        content: "";
        position: absolute;
        width: .6rem;
        height: 85%;
        background-color: darkorange;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

</style>

<h1>Frequently Asked Questions</h1>

<!--<h3>Here is a list of resources to use in case you have a question regarding DeftUP.</h3>-->
<section>
    <div class="container">
        <div class="accordion">
            <div class="accordion-item" id="1">
                <a class="accordion-link" href="#1">
                    <h2>What is the process to become a defter?</h2>
                    <r class="glyphicon glyphicon-plus"></r>
                    <r class="glyphicon glyphicon-minus"></r>
                </a>
                <div class="answer">
                    <p>
                        In order to become a Defter, click on the "Register" tab on at the top of the page. Then click
                        the
                        Defter account option.
                    </p>
                </div>
            </div>

            <div class="accordion-item" id="2">
                <a class="accordion-link" href="#2">
                    <h2>Am I able to cancel a Defter request? </h2>
                    <r class="glyphicon glyphicon-plus"></r>
                    <r class="glyphicon glyphicon-minus"></r>
                </a>
                <div class="answer">
                    <p>
                        Yes, Customers have 24 hours to cancel a request. The cancel option will be listed on the ticket
                        after
                        the Defter accepts the request.
                    </p>
                </div>
            </div>

            <div class="accordion-item" id="3">
                <a class="accordion-link" href="#3">
                    <h2>How do I pay the Defter? </h2>
                    <r class="glyphicon glyphicon-plus"></r>
                    <r class="glyphicon glyphicon-minus"></r>
                </a>
                <div class="answer">
                    <p>
                        When you request a Defter, you are accepting the price that they list. If the Defter accepts the
                        request, the cost will automatically be taken out of your account.
                    </p>
                </div>
            </div>

            <div class="accordion-item" id="4">
                <a class="accordion-link" href="#4">
                    <h2>What is the process to become a defter?</h2>
                    <r class="glyphicon glyphicon-plus"></r>
                    <r class="glyphicon glyphicon-minus"></r>
                </a>
                <div class="answer">
                    <p>
                        In order to become a Defter, click on the "Register" tab on at the top of the page. Then click
                        the
                        Defter account option.
                    </p>
                </div>
            </div>

            <div class="accordion-item" id="5">
                <a class="accordion-link" href="#5">
                    <h2>How do I delete my account? </h2>
                    <r class="glyphicon glyphicon-plus"></r>
                    <r class="glyphicon glyphicon-minus"></r>
                </a>
                <div class="answer">
                    <p>
                        In order to delete your account, please email deftupreports@gmail.com and state
                        that you would like to delete your account.
                        Please note that you will receive a response and your account
                        will be deleted within 48 hours.
                    </p>
                </div>
            </div>

            <div class="accordion-item" id="6">
                <a class="accordion-link" href="#6">
                    <h2>Can I leave feedback regarding the Defter/Customer? </h2>
                    <r class="glyphicon glyphicon-plus"></r>
                    <r class="glyphicon glyphicon-minus"></r>
                </a>
                <div class="answer">
                    <p>
                        All users are able to leave feedback. The feedback option will
                        available on the ticket after the Defter has completed the job.
                    </p>
                </div>
            </div>

            <div class="accordion-item" id="7">
                <a class="accordion-link" href="#7">
                    <h2>How can I report a user? </h2>
                    <r class="glyphicon glyphicon-plus"></r>
                    <r class="glyphicon glyphicon-minus"></r>
                </a>
                <div class="answer">
                    <p>
                        In order to report a user, please click <a href="/Report">here.</a>
                        Please note that you will receive a response within 48 hours.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>