<h1 class = "middleR" style = "text-align: center"> CHOOSE YOUR ACCOUNT </h1>

<h2>
    <div class = "accountbar" >
        <div id = "Account-left-side">
            <div class = "Defter"> Create Defter Account </div>
            <a href="workers/DefterAccount" class="btn" style="background-image: url(img/test2.png);"></a>
                <!-- <div class="btn-txt"><span class="btn-txt-header">Defter Account</span><br>Here is the description of the Defter Account
                </div> IMG TEST2-->
            </button>
        </div>

        <div id = "Account-right-side">
            <div class = "Customer"> Create Customer Account </div>
                <!--<div class = "btn2"> <a href = "CustomerAccount.html"> </a> </div>-->
                <!--<a href="Register.html" class="button" style = "font-family: 'Arial Black'">GET STARTED</a>-->
                <a href="/CustomerAccount" class="btn" style="background-image: url(img/test1.jpg);"></a>
                <!--<button class="btn" style="background-image: url(img/test1.jpg);">
                 <div class="btn-txt"><span class="btn-txt-header">Customer Account</span><br>Here is the description of the Customer Account
                </div> IMG TEST1
                </button>-->
        </div>
    </div>
</h2>