<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Report User Form</title>
    <link href="Styles.css" rel="stylesheet">
    <style>
        .align {
            text-align: center;
            border: 1px solid #ff7700;
        }
        button {
            background-color: #ff7700;
            color: white;
            font-size: 20px;
            margin: auto;
        }
    </style>
</head>

<body>
<div class="about-text">
    <h1>
        Report User <span>Page</span></h1>
</div>


<div class="goalText">
    <h2> An important goal at DeftUp is helping our users feel safe and heard. If you are not satisfied with
        someone's actions, please do not hesitate to report that user. We want everyone to feel heard. Please note that
        we will respond to you within 5-7 business days.
    </h2>
</div>
<div class="align">
    <form action="mailto:deftupreports@gmail.com">
        <button type="submit" value="Submit">Click Here to Report User</button>
    </form>
</div>
</body>
</html>