<title>Message Sent</title>
<style>
    h2, h3 {
        text-align: center
    }

    body {
        font-family: 'Trebuchet MS', sans-serif;
    }

    span {
        color: orange;
    }
</style>

<h3><p>Your message has been sent!<p> Click <a href="/workers"><span>here</span></a> to go back to the Categories Page.</h3>
