<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Example 1</title>
    <link rel="stylesheet" href="Styles.css" media="all" />
</head>
<body>
<header class="clearfix">
    <div id="logo">
        <img src="./img/DeftUp1.PNG" >
    </div>
    <h1>DeftUp Ticket</h1>
    <div id="project">
        <div><span>CUSTOMER</span> John Doe</div>
        <div><span>DEFTER</span> Jane Doe</div>
        <div><span>ADDRESS</span> 111 Candy Lane, NC 33456</div>
        <div><span>EMAIL</span> <a href="mailto:johndoe@gmail.com">john@example.com</a></div>
        <div><span>DATE</span> June 15, 2021</div>

    </div>
</header>
<main>
    <table>
        <thead>
        <tr>
            <th class="service">SERVICE</th>
            <th class="description">DESCRIPTION</th>
            <th>TOTAL</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="service">Mount TV</td>
            <td class="description">TV needs to be mounted in living room.</td>
            <td class="total">$250.00</td>
        </tr>
        <tr>
            <td class="service">Plumbing</td>
            <td class="description">Guest bathroom is clogged.</td>
            <td class="total">$40.00</td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td colspan="4" class="grand total">GRAND TOTAL</td>
            <td class="grand total">$290.00</td>
        </tr>
        </tbody>
    </table>

</main>
<footer>

</footer>
</body>
</html>